extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 ąęśćżźĄŚĘ
  p Zmienna z  widoku #{zmienna}
  div(class="container")
    div(class="row")
      div(class="col-sm")
        One of three columns
      div(class="col-sm")
        One of three columns
      div(class="col-sm")
        One of three columns
